*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul, ol, li{
    list-style: none;
}

header{
    display: flex;
    justify-content: center;
   align-items: center;

}

.titulo1{
    color: #ffffff;
    font-family: 'Shantell Sans', cursive;
    
}

.princess{
    font-family: 'Dancing Script', cursive;
    color:green;
}

body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 100px  1fr 100px;
    padding-left: 180px;
    padding-right: 180px;
    background-color:lightgreen;
}

.galeria{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "f1 f1 f1 f1 f1 f2 f2 f2 f3 f3 f3"
    "f1 f1 f1 f1 f1 f4 f4 f4 f5 f5 f5"
    "f6 f6 f6 f7 f7 f7 f8 f8 f8 f8 f8";
    gap: 12px;

}

.foto{
    position: relative;
    background-color: blueviolet;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-style: solid;
    border-color:#028a0f;
    box-shadow: 0px 0px 8px #028a0f;
    border-radius: 45px;
}
   

.foto:nth-child(1){
    grid-area: f1;
   background-image: url(./img/tiana.jpg);
   
}

.foto:nth-child(2){
    grid-area: f2;
    background-image: url(./img/beijo.jpg);
}
.foto:nth-child(3){
    grid-area: f3;
    background-image: url(./img/tiana\ e\ loira.jpg);
}

.foto:nth-child(4){
    grid-area: f4;
    background-image: url(./img/casal.jpg);
}


.foto:nth-child(5){
    grid-area: f5;
    background-image: url(./img/tiana\ place.jpg);
}

.foto:nth-child(6){
    grid-area: f6;
    background-image: url(./img/colagens.jpg);
}

.foto:nth-child(7){
    grid-area: f7;
    background-image: url(./img/tiana\ fotos.jpg);
}

.foto:nth-child(8){
    grid-area: f8;
    background-image: url(./img/asthetic.jpg);
}

.foto__info{
    position: absolute;
    width: 100%;
    height: 35px;
    background-color: #74B92E;
    color: white;
    bottom: 0;
    transform: translateY(100%);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Shantell Sans', cursive;
}
.foto:hover > .foto__info{
    transform: translateY(0%);
 
}
.foto:hover{
    transform: scale(1.1);
    border-style: solid;
    border-color: chartreuse;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
p{
    color: white;
}

.view_more{
    border-radius: 50px;
    background-color: chartreuse;
    align-items: center;
    width: 150px;
    height: 40px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    border-style:solid;
    border-color: #028a0f;
}
    

.view_more:hover {
    background-color: #03ac13;
    border-style: solid;
    border-color: #028a0f;
    transform: scale(1.1);
}

@media (max-width: 768px){
body{
    padding-left: 15px;
    padding-right: 15px;
}
.galeria{
    display: flex;
    flex-direction: column;
}
.foto{
    width: 90%;
    height: 33vh;
}
header{
    display: flex;
}
}